# ===============================
# Unity project in subfolder
# ===============================

SafeDose AR Unity/[Ll]ibrary/
SafeDose AR Unity/[Tt]emp/
SafeDose AR Unity/[Oo]bj/
SafeDose AR Unity/[Bb]uild/
SafeDose AR Unity/[Bb]uilds/
SafeDose AR Unity/[Ll]ogs/
SafeDose AR Unity/[Uu]ser[Ss]ettings/
SafeDose AR Unity/[Mm]emoryCaptures/
SafeDose AR Unity/[Rr]ecordings/

# Extra safety: PackageCache lives under Library
SafeDose AR Unity/[Ll]ibrary/PackageCache/

# Ignore Vuforia package archives
SafeDose AR Unity/Packages/com.ptc.vuforia.engine-*

# ===============================
# General Unity ignores
# ===============================

.utmp/
*.log

# Blender backup files
*.blend1
*.blend1.meta

# JetBrains Rider
SafeDose AR Unity/[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Visual Studio / Rider caches
.vs/
.gradle/
ExportedObj/
.consulo/

# Solution / project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity meta crash/debug files
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Builds / exports
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# Test Runner
InitTestScene*.unity*

# Addressables
SafeDose AR Unity/ServerData
SafeDose AR Unity/[Aa]ssets/StreamingAssets/aa*
SafeDose AR Unity/[Aa]ssets/AddressableAssetsData/link.xml*
SafeDose AR Unity/[Aa]ssets/Addressables_Temp*
SafeDose AR Unity/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting auto-generated
SafeDose AR Unity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
SafeDose AR Unity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
SafeDose AR Unity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
SafeDose AR Unity/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
